body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-bluegreen-bg-1
{
  background-color: #02394A;
}

.iconyellow { color: #efd31a !important; }
.iconorange { color: #f4ae1a !important; }
.icondarkerorange { color: #f36b28 !important; }
.iconred { color: #ef4924 !important; }
.iconmagenta { color: #ee2f44 !important; }
.icongrey { color: #A9A9A9 !important; }
.iconpurple { color: #b856a1 !important; }
.iconviolet { color: #915ba6 !important; }
.iconblue { color: #518bc9 !important; }
.iconcyansus { color: #27beb6 !important; }
.icongreen { color: #67bf6b !important; }
.iconlightgreen { color: #a1cd49 !important; }

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

.fadeOut{
  opacity:0;
  width:0;
  height:0;
  transition: width 2s 2s, height 2s 2s, opacity 2s;

}
.fadeIn{
  opacity:1;
  width:100px;
  height:100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;

}

@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}


.smallIcons {
font-size: 3rem;
}

.smallIconsTitle {
  font-size: 86%;
  padding: 0px;
}