body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-bluegreen-bg-1
{
  background-color: #02394A;
}

.iconyellow { color: #efd31a !important; }
.iconorange { color: #f4ae1a !important; }
.icondarkerorange { color: #f36b28 !important; }
.iconred { color: #ef4924 !important; }
.iconmagenta { color: #ee2f44 !important; }
.icongrey { color: #A9A9A9 !important; }
.iconpurple { color: #b856a1 !important; }
.iconviolet { color: #915ba6 !important; }
.iconblue { color: #518bc9 !important; }
.iconcyansus { color: #27beb6 !important; }
.icongreen { color: #67bf6b !important; }
.iconlightgreen { color: #a1cd49 !important; }